:root{
    --primary: rgb(130, 87, 230);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: var(--primary); */
}

body,
input,
button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}